node_modules
.env

assets/qr/*
!assets/qr/.gitkeep
assets/certificate/*
!assets/certificate/.gitkeep
assets/template/*
!assets/template/.gitkeep
assets/data/*
!assets/data/.gitkeep
.wwebjs_auth
.wwebjs_cache
config.json