<footer class="text-center py-3 fixed-bottom" style="background-color: #272829; color: white;">
  <div class="container">
    <p class="mb-0">
      &copy; <%= new Date().getFullYear() %> Mengkodingkan. All rights reserved.
    </p>
  </div>
</footer>
