<nav class="navbar navbar-expand-lg text-white fixed-top" style="background-color: #272829;">
  <div class="container-fluid">
    <a class="navbar-brand text-white" id="navbarBrand" href="#">
      <img src="/images/icon.png" alt="Kehadiran Digital" width="30" height="30" style="background-color: white; border-radius: 50%; padding: 5px;">
      Presence
    </a>
  </div>
</nav>